
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* body {

} */

body {
    background-color: #000000;
    animation: gradient 6s ease infinite;
    font-family: 'Courier Prime', monospace;
  
}

@keyframes gradient {
    0% {
        background-position: 0% 50;
        background: linear-gradient(to right, rgb(255, 136, 0,0.9), rgb(230, 46, 113,0.9),rgb(180, 51, 255,0.9), rgb(51, 194, 255,0.9), rgb(91, 255, 51,0.9), rgb(242, 232, 45,0.9));
    }
    100% {
        background-position: 0% 50%;
        background-color: rgb(0, 0, 0,0,0.5);
    }
}


.stopwatch{
    width: 90%;
    height: 60vh;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assests/images/background.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 100px auto 0;
    border: 1px solid;
  box-shadow: 6px 10px rgb(29, 178, 183, 0.5);
    border-radius: 15px;
}
.stopwatch h1{
    margin-top: 30px;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}
.buttons{
    margin-top: 80px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.buttons img:nth-child(2){
    width: 80px;
}